# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
# *.mex*

thirdparty/GOrilla/input_page.html

input_page.html
SyncToy_*
input_page.html

+gui/scscatter.mlapp
resources/STRING/stringdb_human.mat
resources/STRING/stringdb_mouse.mat
resources/Rpath.txt
resources/Thumbs.db
+run/external/R_MAST/input1.txt
+run/external/R_MAST/input2.txt
+run/external/R_MAST/output.csv
+run/external/R_fgsea/input.txt
+run/external/py_harmony/input1.csv
+run/external/py_harmony/input2.csv
+run/external/py_harmony/output.csv
+run/external/R_decontX/output.mat
+run/external/R_decontX/input.mat
+run/external/R_RJcluster/input.csv
+run/external/R_RJcluster/output.csv
scGEAToolbox.mltbx
+run/external/R_monocle/input.mat
+run/external/R_monocle/output.csv
+run/external/R_SeuratWorkflow/input.txt
+run/external/R_scTenifoldKnk/input.h5
+run/external/R_scTenifoldKnk/output.RData
+run/external/R_scTenifoldKnk/output.txt
+run/external/R_scTenifoldKnk/alnman.mat
+run/external/R_scTenifoldKnk/WTKOnet.mat
+run/external/R_scTenifoldNet/input1.rds
+run/external/R_scTenifoldNet/input2.rds
scgeatoolstandaloneApplication/
+run/external/R_SeuratReadRds/inputrdsfile.txt
+run/external/R_SeuratReadRds/X.csv
+run/external/R_SeuratReadRds/g.csv
+run/external/R_SeuratSctransform/input.mat
+run/external/R_SeuratSctransform/input.txt
+run/external/R_MAST/input.mat
+run/external/R_MAST/input.mat
+run/external/py_scTenifoldXct/X.txt
+run/external/py_scTenifoldXct/g.txt
+run/external/py_scTenifoldXct/c.txt
+run/external/py_scTenifoldXct/output.txt
+run/external/py_scTenifoldXct/output1.txt
+run/external/py_scTenifoldXct/output2.txt
+run/external/py_scTenifoldXct/X.mat
+run/external/py_scTenifoldXct/A1.mat
+run/external/py_scTenifoldXct/A2.mat
+run/external/py_scTenifoldXct/gene_name_Source.tsv
+run/external/py_scTenifoldXct/gene_name_Target.tsv
+run/external/py_scTenifoldXct/pcnet_Source.npz
+run/external/py_scTenifoldXct/pcnet_Target.npz
+run/external/py_scTenifoldXct/pcnet_Target.mat
+run/external/py_scTenifoldXct/pcnet_Source.mat
+run/external/py_readh5ad/X.h5
+run/external/py_readh5ad/var.csv
+run/external/py_readh5ad/obs.csv
+run/external/R_SeuratSaveRds/input.h5
+run/external/py_scTenifoldXct2/*.mat
+run/external/py_scTenifoldXct2/*.tsv
+run/external/py_scTenifoldXct2/*.txt
+run/external/py_scTenifoldXct2/1/*
+run/external/py_scTenifoldXct2/2/*
