# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
# *.mex*

# Standalone exe
src/scGEApp_standalone/



src/thirdparty/GOrilla/input_page.html


input_page.html
