# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
# *.mex*

# Simulink Code Generation
scGEApp_standalone/
example_data/

thirdparty/GOrilla/input_page.html

input_page.html
SyncToy_*
input_page.html

thirdparty/R_BUSseq/MCMC_sampling/
thirdparty/R_BUSseq/input0.csv
thirdparty/R_SingleR/input.txt
thirdparty/R_scTypeGSEA/counts.txt
thirdparty/R_FindAllMarkers/counts.txt
+gui/scscatter.mlapp
resources/STRING/stringdb_human.mat
resources/STRING/stringdb_mouse.mat
resources/Rpath.txt
resources/Thumbs.db
+run/thirdparty/R_MAST/input1.txt
+run/thirdparty/R_MAST/input2.txt
+run/thirdparty/R_MAST/output.csv
+run/thirdparty/R_fgsea/input.txt
+run/thirdparty/harmony/input1.csv
+run/thirdparty/harmony/input2.csv
+run/thirdparty/harmony/output.csv
+run/thirdparty/R_decontX/output.mat
+run/thirdparty/R_decontX/input.mat
+run/thirdparty/R_RJcluster/input.csv
+run/thirdparty/R_RJcluster/output.csv
scGEAToolbox.mltbx
+run/thirdparty/R_monocle/input.mat
+run/thirdparty/R_monocle/output.csv
